{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center" >
    <div class="col-sm-7">
        <div class="row d-flex justify-content-center">
            <div>
                <p class="h2  mt-5">Você tem uma nova ideia?! Ótimo!</p>
            </div>
        </div>  
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row d-flex justify-content-center">
                <div>
                    <button type="submit" class="ml-5 btn btn-primary">Criar ideia!</button>
                    <a class="btn btn-primary ml-3" href="/">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}