{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Cadastro</title>
</head>
<style>
html {
  height: 100%;
}    
body{
    background-image: linear-gradient(to right top, #989da5, #5eaac7, #00bac3, #00c48c, #2cc51c);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
</style>
<body>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-2 my-5">
                <img src="/media/idea.png" class="img-fluid" alt="idea board logo">
            </div>
        </div>
        

        <div class="row d-flex justify-content-center">
            <div class="col-sm-4 p-3 mb-2 bg-light text-dark rounded">
                <div class="row d-flex justify-content-center">
                    <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="row d-flex justify-content-center">
                                <div>
                                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                                    <a class="btn btn-primary ml-3" href="/">Cancelar</a>
                                </div>
                            </div>    
                        </form>
                </div>
            </div>
        </div> 
        
        

    </div>

    
    <script
    src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>        
</body>
</html>