{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row ml-5">
{% for idea in ideas %}
  <div class="card ml-3 mt-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{idea.tittle}}</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text">{{idea.idea}}</p>
      
      <div class="row">
        <div class="col-sm-2">
            <form action="/updateidea/{{idea.id}}/" method="GET">
              {% csrf_token %}
              <input class="btn btn-primary" type="submit" value="Editar">
            </form>
              <!-- <a href="/updateidea/{{idea.id}}/">update</a> -->
          </div>
          
          <div class="col-sm-2 ml-5">
            <form action="/deleteidea/{{idea.id}}/" method="POST">
              {% csrf_token %}
              <input class="btn btn-primary" type="submit" value="Excluir">
            </form>
          </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>


{% endblock %} -->