{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>{%block title%}{%endblock%}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico'%}" >
</head>
<style>

</style>
<body>
    <div class="container-fluid">
            <div class="row" >
                    <nav class="navbar navbar-light col-12 col-sm-12" style="background-image: linear-gradient(to right top, #989da5, #5eaac7, #00bac3, #00c48c, #2cc51c);">
                      <!-- Navbar content -->
                    </nav>
                  </div>
                   
                  <div class="row justify-content-center align-items-center" style="padding: 1%;">
                    <div class=" col-6 col-sm-2 ">
                        <img src="{% static 'idea.png'%}" class="img-fluid" alt="Responsive image">
                    </div>
                  </div> 
                  
                  <div class="row">
                      <nav class="navbar col-sm-12 navbar-expand-lg navbar-light bg-light" >
                          <div class="collapse navbar-collapse" id="navbarNav">
                  
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/newidea/">New Idea!</a>
                                </li>
                            </ul>
                  
                            <ul class="navbar-nav ml-auto mr-sm-4">
                                {% if user.is_authenticated %} 
                                    <li class="nav-item dropdown mr-sm-4">
                                        <a class="nav-link">
                                            Bem vindo, {{ user.username }}!
                                        </a>             
                                    </li> 
                                    <li><a class="nav-link" href="{% url 'logout' %}">logout</a></li> 
                                    {% else %}
                                    <li class="nav-item  mr-sm-4">
                                        <a class="nav-link" href="conta/login">Login</a> 
                                    </li>  
                                {% endif %}   
                                
                            </ul>
                            
                          </div>                    
                          
                      </nav>
                  </div>       

        {% block content %} 
     
        {% endblock %}


        

    </div>

    
    <script
    src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>